.ecommerce-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-container {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  text-align: center;
  width: 250px;
}

.product-image {
  max-width: 70%;
  max-height: 70%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-category,
.product-title {
  font-size: 18px;
  margin: 5px 0;
}

.product-brand {
  color: #555;
}




.pagina{
  align-items: center;
  display: flex;
  justify-content: center;
}


.pagina > span{
  cursor: pointer;
  display: flex;
  border: 2px solid red;
  justify-content: space-between;
  padding: 10px;
  gap: 30px;
}


.selected{
  background-color: blue;
}


/* App.css */

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.todo-title {
  font-size: 2em;
  color: #800080; /* purple */
}

.todo-input {
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #800080; /* purple */
}

.todo-button {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  background-color: #FFA500; /* orange */
  color: white;
  cursor: pointer;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: #800080; /* purple */
  color: white;
}

.todo-item input[type="checkbox"] {
  margin-right: 1em;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.todo-item input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}
